<nav class="navbar navbar-expand-md navbar-dark shadow fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand"
      >Bali<span class="text-warning">neni.</span></a
    >
    <button
      class="navbar-toggler p-0 shadow-none border-0"
      data-bs-toggle="collapse"
      data-bs-target="#navBar"
    >
      <span class="navbar-toggler-icon w-1 h-1"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            routerLink="home"
            routerLinkActive="active"
            class="nav-link"
            data-bs-toggle="collapse"
            data-bs-target="#navBar"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="about"
            class="nav-link"
            routerLinkActive="active"
            data-bs-toggle="collapse"
            data-bs-target="#navBar"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="portfolio"
            class="nav-link"
            routerLinkActive="active"
            data-bs-toggle="collapse"
            data-bs-target="#navBar"
            >Portfolio</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="contact"
            class="nav-link"
            routerLinkActive="active"
            data-bs-toggle="collapse"
            data-bs-target="#navBar"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
