<div class="container bg-white p-5 my-5 text-center">
  <!-- projects -->
  <div class="row">
    <div class="col-sm-12">
      <h3 class="sub-heading">Projects</h3>
    </div>
  </div>
  <div
    class="row gy-4 justify-content-md-around justify-content-even align-items-stretch"
  >
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card shadow" style="max-width: 18rem">
        <img
          src="../../assets/img/screenshot-subbu999.github.io-2023.01.13-13_21_30.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body p-3">
          <h5 class="card-title">Hungry-Owl</h5>
          <p class="card-text">
            Hungry Owl is a restaurant promising good taste and provide service
            24/7.
          </p>
          <a
            href="https://subbu999.github.io/hungry-owl/#home"
            target="_blank"
            class="btn btn-primary"
            >Go To Demo Site</a
          >
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card shadow" style="max-width: 18rem">
        <img
          src="../../assets/img/aarya-globaltek.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body p-3">
          <h5 class="card-title">Aarya Globaltek</h5>
          <p class="card-text">
            To Become A Strong Partner For Many Clients Across The World With
            Constant Focus Towards Quality.
          </p>
          <a
            href="https://aaryaglobaltek.com/home"
            target="_blank"
            class="btn btn-primary"
            >Go To Demo Site</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card shadow" style="max-width: 18rem">
        <img
          src="../../assets/img/subbu-weather.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body p-3">
          <h5 class="card-title">Weather Report</h5>
          <p class="card-text">
            It's a Weather reporting app returns a 3 day weather cast from an
            open sorce api called weatherapi.com
          </p>
          <a
            href="https://subbu-weather.netlify.app/weather"
            target="_blank"
            class="btn btn-primary"
            >Go To Demo Site</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card shadow" style="max-width: 18rem">
        <img
          src="../../assets/img/screenshot-subbu999.github.io-2023.01.20-23_53_11.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body p-3">
          <h5 class="card-title">Ayyappa Pooja</h5>
          <p class="card-text">
            Ayyappa Pooja was created to help devotees learn and chant matras
            and do pooja in a proper way.
          </p>
          <a
            href="https://subbu999.github.io/Ayyappa"
            class="btn btn-primary"
            target="_blank"
            >Go To Demo Site</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card shadow" style="max-width: 18rem">
        <img
          src="../../assets/img/screenshot-subbu999.github.io-2023.01.13-16_40_11.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body p-3">
          <h5 class="card-title">Iatric Publications</h5>
          <p class="card-text">
            It's publication company which intended to publish original research
            papers.
          </p>
          <a
            href="https://subbu999.github.io/Iatric-Publishers/index.html"
            class="btn btn-primary"
            target="_blank"
            >Go To Demo Site</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card shadow" style="max-width: 18rem">
        <img
          src="../../assets/img/screenshot-localhost_5200-2023.01.13-16_59_27.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body p-3">
          <h5 class="card-title">Middle Class Matrimonial</h5>
          <p class="card-text">
            Middle Class Matrimony focuses on serving the middle class who are
            unable to pay huge amouts for marriage bureaus.
          </p>
          <a routerLink="/page-not-found" class="btn btn-primary"
            >Go To Demo Site</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="sub-heading">Paints</h3>
    </div>
  </div>
  <div class="row gy-4 mb-3 justify-content-md-around justify-content-even">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/hanuman-paint.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/ganesha-paint.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/joker-paint.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="sub-heading">Pencil Sketch</h3>
    </div>
  </div>
  <div class="row gy-4 justify-content-md-around justify-content-even">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/prabhas-pencil.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/hugjackman-pencil.JPG"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/downjr-pencil.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/baby-pencil.JPG"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/atkinson-pencil.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/apj-pen.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="sub-heading">Pen Sketch</h3>
    </div>
  </div>
  <div class="row gy-4 mb-3 justify-content-md-around justify-content-even">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/anr-pen.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/spiderman-pen.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img
        src="../../assets/img/ganesha-pen.jpg"
        alt=""
        class="img-fluid art-img"
        (click)="onImgClick($event.target)"
      />
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="imgModal"
  tabindex="-1"
  aria-labelledby="imgModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img [src]="currImgSrc" alt="modal-img" class="modal-img img-fluid" />
      </div>
    </div>
  </div>
</div>
