/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar{
width:10px;
}
::-webkit-scrollbar-track{
    background-color: #cccccc;
    box-shadow: inset 0 0 5px rgb(71, 70, 70);
    
}
::-webkit-scrollbar-thumb{
    border: 2px solid #cccccc;
    background-color: rgb(138, 138, 138);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
body {
    background-color: #f1f1f1;
  }
.nav-link.active{
    color:#ffc107!important;
}